// compileCompressed:../css/$1.css


.change{
	will-change: transform;
}
.easeBox {transform: translateY(var(--ty));
-webkit-overflow-scrolling: touch;
 }
.change-op{
will-change:opacity;
}
.fadeBox { opacity: var(--o); }
.fadeBoxMobile { opacity: var(--op); }


//color
//base
$txtSize:16px;
$darkColor:rgb(0,0,0);
$lightColor:rgb(255,255,255);
$accentColor:#ffdd00;
//bg
$headerBg:linear-gradient(
	180deg,
	rgba(85, 126, 140,1) 0%,
	transparent 100%
);
$borderColor:linear-gradient(
	60deg,
	rgba(255,221,0,1) 0%,
	rgba(69,141,165,1) 50%,
	rgba(165,69,161,1) 100%
	);
//h2
$titleColor:linear-gradient(
	60deg,
	rgba(255,221,0,1) 0%,
	rgba(184,209,1,1) 38%,
	rgba(1,209,209,1) 100%
	);
//h3
$subTitleColor:linear-gradient(
	60deg,
	rgba(11,11,11,1) 0%,
	rgba(45,45,45,1) 100%
	);
//article footer
$footerColor:linear-gradient(
	-30deg,
	rgba(255,221,0,.6) 0%,
	rgba(184,209,1,.6) 38%,
	rgba(1,209,209,.6) 100%
	);
//btnColor:
$btnColor:linear-gradient(
	180deg,#ffdd00 0%,
	#f8cc00 100%
	);
//navHome
$navCenter:linear-gradient(
	60deg,
	rgba($darkColor,0) 0%,
	rgba($darkColor,0) 5%,
	rgba($accentColor,8) 45%,
	rgba($accentColor,.8) 55%,
	rgba($darkColor,0) 95%,
	rgba($darkColor,0) 100%
	);
	//nav-previous
	$navPrevious:linear-gradient(
		60deg,
		rgba(69,141,165,1) 0%,
		rgba(165,69,161,65) 65%,
		rgba(255,221,0,0) 100%
		);
		//nav-previous
		$navNext:linear-gradient(
			300deg,
			rgba(69,141,165,1) 0%,
			rgba(165,69,161,65) 65%,
			rgba(255,221,0,0) 100%
			);

//dimension
$padding:.9rem;
$margin:.9rem;
$radius:.25rem;

//middle
//color
//base
$darkColorM:rgb(0,0,0);
$lightColorM:rgb(255,255,255);
$mainColorM:rgb(39, 38, 71);
$accentColorM:rgb(61, 47, 47);
$subColorM:rgb(235, 113, 237);

//bg
$bodyColorM:linear-gradient(
	180deg,
	rgba(255,255,255,0) 0%,
	rgba(7, 8, 22,0) 62%,
	rgba(44, 55, 109, .6) 100%
);
$headerBgM:linear-gradient(
	0deg,
	rgba(7, 8, 22,.6) 0%,
	rgba(44, 55, 109, .6) 100%
);
$subTitleColorM:linear-gradient(
	120deg,
	rgb(160, 178, 177) 0%,
	rgb(237, 249, 249) 48%,
	rgb(200, 220, 220) 48.5%,
	rgb(151, 175, 178) 72.3%,
	rgb(215, 239, 239) 100%
	);
/*
$subTitleColorM:linear-gradient(
	120deg,
	rgb(183, 204, 203) 0%,
	rgb(239, 255, 254) 30%,
	rgb(129, 154, 158) 61.3%,
	rgb(123, 149, 153) 61.5%,
	rgb(133, 150, 150) 100%
	);
	*/

	/*$menuColorM:linear-gradient(
		120deg,
		rgb(154, 168, 167) 0%,
		rgb(237, 249, 249) 40%,
		rgb(178, 193, 192) 41%,
		rgb(151, 175, 178) 72.3%,
		rgb(215, 239, 239) 100%
		);
		*/
//h2
$borderColorM:linear-gradient(
	180deg,
	rgb(7, 8, 22) 0%,
	$accentColorM 100%
	);
//h3
$titleColorM:linear-gradient(
	120deg,
	rgb(255, 225, 0) 0%,
	rgb(251, 255, 196) 47%,
	rgb(255, 255, 100) 47.5%,
	rgb(183, 169, 45) 65%,
	rgb(206, 191, 57) 100%
	);
	$menuColorM:linear-gradient(
		120deg,
		rgb(255, 225, 3) 0%,
		rgb(251, 255, 196) 19%,
		rgb(255, 255, 100) 19.5%,
		rgb(183, 169, 45) 25%,
		rgb(251, 255, 196) 35%,
		rgb(255, 255, 100) 35.5%,
		rgb(183, 169, 45) 55%,
		rgb(206, 191, 57) 100%
		);
//article footer
$footerColorM:linear-gradient(
	-30deg,
	rgb(196, 144, 47) 0%,
	rrgb(155, 105, 52) 100%
	);
//btnColor:
$btnColorM:$accentColorM;
//navHome
/*
$navCenterM:linear-gradient(
	60deg,
	rgba($darkColor,0) 0%,
	rgba($darkColor,0) 5%,
	rgba($accentColor,8) 45%,
	rgba($accentColor,.8) 55%,
	rgba($darkColor,0) 95%,
	rgba($darkColor,0) 100%
	);
	//nav-previous
	$navPreviousM:linear-gradient(
		60deg,
		rgba(69,141,165,1) 0%,
		rgba(165,69,161,65) 65%,
		rgba(255,221,0,0) 100%
		);
		//nav-previous
		$navNextM:linear-gradient(
			300deg,
			rgba(69,141,165,1) 0%,
			rgba(165,69,161,65) 65%,
			rgba(255,221,0,0) 100%
			);
	*/




//css

html{
	height:100vh;
	overflow-y:scroll;
	overflow-x:auto;
	-webkit-text-size-adjust:100%;
	-webkit-scrolling:touch;
}//html

body{
	background:$lightColor;
	color:$lightColor;
	font-family: -apple-system, BlinkMacSystemFont,BlinkMacSystemFont,"Yu Gothic", "游ゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Grande","Lucida Sans",sans-serif;
	padding:0 $padding;
	margin:0;
	font-size:.75rem;
	background-size:cover!important;
	&:before{
		content:'';
		display:block;
		position:fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background:rgba($darkColor, .75);
		z-index:-1;
	}//before
}//body

hr{
	visibility:hidden;
	clear:both;
	margin:0 0 $margin 0;
}//hr

a{
	outline:0;
	color:$lightColor;
	&:hover,
	&:focus{
		color:$lightColor;
	}//hover focus
	&:active{
		color:lightColor;
	}//active
}//a
strong,em{
	font-weight:bold;
}//strong em

h1{
	color:$darkColor;
	font-family:Lucida Sans,Lucida Grande, Lucida Sans unicode;
	//text-indent:-9999px;
	line-height:1.8em;
	border-radius:1.5em;
	box-shadow:0 .3em .3em rgba($darkColor, .3);
	text-align:center;
	height:10em;
	width:10em;
	background:darken($lightColor, 10%);
	letter-spacing:-.05em;
	border-top:.015em solid rgba($lightColor, .5);
	border-left:.015em solid rgba($lightColor, .5);
	border-bottom:.015em solid rgba($darkColor, .15);
	border-right:.015em solid rgba($darkColor, .15);
	position:relative;
	font-size:1rem;
	margin:-20vh auto 40vh auto;
		span{
		display:block;
		text-indent:-9999px;
	}//span
		a{
		color:$darkColor;
		text-indent:-9999px;
		display:block;
		width:100%;
		height:100%;
		text-decoration:none;
		position:absolute;
		padding:.25em;
		z-index:3;
		top:-.125em;
		left:-.125em;
	}//a
		&:before{
			content:'design';
			display:block;
			font-size:145%;
			position:relative;
			z-index:2;
			top:4.5em;
			letter-spacing:0;
		}//before
		&:after{
			content:'Y38';
			font-size:450%;
			border-radius:.3em;
			display:block;
			height:2em;
			width:2em;
			line-height:1.7em;
			background:$accentColor;
			position:absolute;
			z-index:1;
			top:.09em;
			left:.09em;
			border-top:.015em solid rgba($lightColor, .5);
			border-left:.015em solid rgba($lightColor, .5);
			border-bottom:.015em solid rgba($darkColor,.15);
			border-right:.015em solid rgba($darkColor, .15);
			box-shadow:0 .1em .1em rgba($darkColor, .4);
			letter-spacing:-.1em;
		}//after
}//h1

body > header{
	margin:(- $margin) (- $margin) 100vh (- $margin);
	background:$headerBg;
	padding:50vh 0 0 0;
	&:before{
		content:'';
		display:block;
		width: 0;
		height: 0;
		border-top: 1.15rem solid $accentColor;
		border-bottom: 1.15rem solid transparent;
		border-left: .75rem solid transparent;
		border-right: .75rem solid transparent;
		position: absolute;
		top:72vh;
		left:calc(50vw - 1.15rem);
		animation-name:upsidedown;
		animation-delay: .5s;
		animation-duration:.75s;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	div{
		display:block;
		margin:10vh auto 0 auto;
		width:auto;
		color:$lightColor;
		a{
			color: $lightColor;
			display:block;
			padding:$padding 2.35rem;
			font-size:150%;
			text-decoration:none;
			background:rgba($darkColor, .2);
			border:2px solid;
			border-image:$borderColor;
			border-image-slice:1;
			position:relative;
			width:auto;
			margin:0 3% $margin 3%;
		}//a
	}//div


	h2{
		color:$lightColor;
		clear:left;
		font-weight:normal;
		background:none;
		font-size:1rem;
		margin:0 auto;
		padding:$padding $padding 0 $padding;
		width:auto;
		text-shadow:0 .03rem .35rem .5;
	}//h2
}//header

	body > header.single{
			padding:4vh 0 0 0;
			margin:(- $margin) (- $margin) ($margin * 1.8) (- $margin);
			&:before{
				display: none;
			}
			div{
				display: none;
			}
		h1{
			transform: scale(.5);
			margin:0 auto 6vh auto;
		}
	}

	@keyframes upsidedown{
		0%{
			top:71vh;
		}
		100%{
			top:69vh;
		}
	}
h2{
	font-size: 1.45rem;
	color:$darkColor;
	padding:($padding * .4);
	margin:0;
	background:$titleColor;
	width:auto;
}

.change.easeBox > h2{
cursor:pointer;
position:-webkit-sticky;
position:sticky;
top:0;
z-index:3;
&:after{
	content:'';
	display:inline-block;
	width:0;
	height:0;
	border-top:.35rem solid rgba($darkColor, 1);
	border-left:.35rem solid rgba($darkColor, 0);
	border-bottom:.35rem solid rgba($darkColor, 0);
	border-right:.35rem solid rgba($darkColor, 0);
	margin:0 0 0 $margin;
	position:relative;
	top:.1rem;
	background:none;
	transition:all .3s ease-in-out;
	&:hover{
	color:rgba($darkColor, .75);
		&:after{
		top:.35rem;
	}//after
}//hover
}
}//h2
#sectionMain > h2:after{
	display:none;
}

#sectionAbout,#sectionPortfolio{
	margin:0 0 36vh 0;
	transform:none;
	> div.hidden{
	margin:0 0 $margin 0;
	padding:0;
	display:none;
}// >div
	h3{
	font-size:1rem;
	position:-webkit-sticky;
	position:sticky;
	top:2.25rem;
	z-index:2;
	line-height:2.7;
	margin:0 0 $margin 0;
	padding:($padding * .45) 0 0 ($padding * .7);
	background:$subTitleColor;
	color:$lightColor;
		cursor: pointer;
		&:after{
			content:'';
			display:inline-block;
			position:relative;
			top:.25rem;
			left:.9rem;
			width:0;
			height:0;
			border-bottom:.35rem solid transparent;
			border-right:.35rem solid transparent;
			border-left:.35rem solid transparent;
			border-top:.35rem solid $accentColor;
		}
}//h3
	h4{
	font-weight:normal;
	padding:0 $padding;
	margin:($margin / 6) 0 ($margin * 2) 0;
	cursor: pointer;
	&:after{
		content:'';
		display:inline-block;
		position:relative;
		top:.15rem;
		left:.75rem;
		width:0;
		height:0;
		border-bottom:.35rem solid transparent;
		border-right:.35rem solid transparent;
		border-left:.35rem solid transparent;
		border-top:.35rem solid $lightColor;
	}
}//h4
p{
	padding:0 $padding $padding $padding;
}//p
}// about portfolio

#sectionAbout h3:after{
	display:none;
}


#sectionPortfolio .box{
	display: none;
	//transition:all .3s ease-in-out;
}



#sectionPortfolio .box.flex{
transition:all .3s ease-in-out;
	display:flex!important;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
	align-content:strech;
	align-items:strech;
	margin:0 0 $margin 0;
	dl{
	margin:0 0 ($margin * 2) 0;
	flex-basis:47.5%;
	min-width:40%;
	font-size:.8rem;
	background:rgba($darkColor, .35);
	border:1px solid $darkColor;
}//dl
	dt{
	font-size:.75rem;
	padding:($padding * .35);
	font-weight:bold;
	background:rgba($darkColor, .45);
}//dt
	dd{
	border-bottom:1px solid rgba($darkColor, .75);
	width:100%;
	margin:0;
	padding:0;
	font-style: normal;
		&:last-of-type{
			border:none;
		}// dd last
		&.toolPortfolio{
		color:#ccc;
		padding:$padding * .5;
		text-align:left;
		width:auto;
	}// tool
		&.tech.Portfolio{
		color:#ccc;
		padding:$padding * .5;
		tex-align:left;
		width:auto;
	}//tech
		&.urlPortfolio{
		padding:$padding * .5;
		text-align:left;
		width:auto;
			&:before{
				content:'>';
			}//before
		}//urlPortfolio
		em,strong{
			font-weight:ormal;
			font-style: normal;
		}// em strong
	}
	img{
		width:90%;
		height:15rem;
		object-fit:contain;
		margin:0;
		transition:all .2s ease-in-out;
		&::placeholder{
			width:32px;
			height:32px;
		}
	}//img
}//dd

section .close{
	display:block;
	width:calc(100% - $padding);
	background:$footerColor;
	color:$lightColor;
	padding:($padding * .5) $padding ($padding * .5) 0;
	text-align:right;
	cursor:pointer;
	text-decoration:none;
	&:before{
	content:'';
	display:inline-block;
	position:relative;
	top:0;
	width:0;
	height:0;
	border-bottom:.45rem solid $lightColor;
	border-left:.45em solid transparent;
	border-right:.45em solid transparent;
	border-top:.45em solid transparent;
}//before
}//close

#sectionMain{
	transform:none;
	> ul{
		list-style:none;
		background:rgba($darkColor, .3);
		padding:($padding * .45) ($padding * 1.25) ($padding * 1) ($padding *1.25);
		margin:0 0 2.7rem 0;
		display:flex;
		justify-content:flex-start;
		flex-direction:row;
		flex-wrap:wrap;
		align-content:strech;
		align-items:strech;
		li{
		display:block;
		flex-basis: 50%;
		line-height: 2.7;
			a{
				color: $lightColor;
				text-decoration: none;
				border-bottom: 1px solid rgba($accentColor, .5);
				padding: 0 0 0 .25rem;
			}
			&:before{
				content:'';
				display:inline-block;
				width:.45rem;
				height:.45rem;
				background: $titleColor;
				position: relative;
				top:-.05rem;
			}
			&:first-of-type{
				flex-basis:100%;
				line-height: 1.6;
			}
			&:first-of-type:before{
				display:none;
			}
		}//li
	}//ul
	.title{
		display:block;
		font-size:1.25rem;
		margin:0 0 ($margin * .45) 0;
	}//title

	> article{
	margin:0 0 ($margin * 3) 0;
	header{
	background:$subTitleColor;
	color:$lightColor;
	padding:($padding * .9);
		a{
			&:hover,
			&:focus{
			color:$lightColor;
			}//forcus
		}//a

		h2{
			font-size: 1.15rem;
			margin:0 0 $margin 0;
			padding:0;
			background:$subTitleColor;
				a{
					text-decoration: none;
					color: $lightColor;
					border-bottom: 1px solid $accentColor;
					&:before{
						content:'';
						display:inline-block;
						width:.45em;
						height:.45em;
						background:$titleColor;
						position: relative;
						top:-.25rem
					}
				}
			}//h2

		ul,li{
		display:inline;
		}//ul
		em,span{
		margin:0 $margin $margin 0;
		font-weight:normal;
		font-size: .75rem;
		font-style:normal;
			a{
			font-weight:normal;
			}//a
		}//em
		span{
			float: right;
		}
	}//header
	> div{
	margin:$margin $margin ($margin * 3) $margin;
	//font-size:1.1rem;
	overflow:auto;
		p{
		line-height:1.6;
		}//p
		img{
		max-width: 45vw;
		max-height:45vw;
		width:auto;
		box-shadow:0 2vh 2vh rgba($darkColor, .35);
		margin:$margin $margin $margin ($margin * .5);
		}//img
	}// >div

	.readMore{
	display:block;
	background:$subTitleColor;
	color:$lightColor;
	width:5.5rem;
	padding:($padding * .5);
	margin:$margin 0 ($margin * 2) 0;
	font-size:.85rem;
	font-weight:normal;
	text-align:center;
	}//readMore




	.sharedaddy{
		margin:$margin 0;
		border-bottom:1px solid darken($darkColor, 66%);
			h3{
			display:none;
			}//h3
	}//sharedaddy

	.ssba{
	transform:scale(2);
	width:65%;
	margin:($margin * 3) 0 $margin 0;
		a{
		margin:0 0 0 ($margin * 2);
		}//a
	}//.ssba

	.wp_social_bookmarking_light{
		margin:0;
		div{
			display:block;
			float: none;
			margin: 0 0 $margin 0;
		}//div
	}//wp_social_bookmarking_light
	}//article


		#respond{
			margin:0 $margin;
			h3{
				background:$subTitleColor;
				color: $lightColor;
				padding:($padding * .5) $padding;
				font-size: 1.2rem;
			}//h3
			form{
				width:100%;
				margin:($margin * 2) auto ($margin * .9) auto;
				display: block;
				font-size:90%;
					label{
							width:100%;
							margin:0 0 ($margin * .25) 0;
							display: block;
							vertical-align: middle;
							position: relative;
					}//label

					input,textarea{
						-webkit-appearance: none!important;
						-moz-appearance: none!important;
						appearance: none!important;
						width:calc(100% - .45em);
						padding: .225em;
						border:none;
						color: $lightColor;
						background: rgba(lighten($darkColor,15%), .55);
						border-bottom: 1px solid lighten($darkColor, 30%);
						line-height: 1.8;
							&:hover,
							&:focus,
							&:active{
							background: rgba(lighten($darkColor,3%), .85);
							}//hover focus
					}//input
					textarea{
						height: 8em;
						box-sizing: border-box;
					}//textarea
					&.checkd{
						width:auto;
						display: inline;
						float:none;
					}//checked
					&.checked span{
						width:auto;
						display: inline-block;
						margin:0;
						font-weight: bold;
					}//span
					p > input[type="checkbox"]{
					  padding: 0;
					  width:1.8rem!important;
					  height: .9rem!important;
					  background: $darkColor;
					  border-radius: .45rem;
					  display: inline-block ;
					  position: relative;
					  &:after{
					    content:'';
					    display:inline-block;
					    width:.9rem;
					    height:.9rem;
					    border-radius: .45rem;
					    background: $lightColor;
					    position: relative;
					    left:0;
					    border: 1px solid $darkColor;
							transition:all .35s ease-in-out;
					  }
					}//input
					p > input[type="checkbox"]:checked{
					  background: $accentColor;
					  &:after{
					    left:.9rem;
					    border: 1px solid $accentColor;
					  }
					}//input
					.submit{
						width:100%;
						display: block;
						font-size: .9rem;
						line-height: 2.7;
						background:darken($accentColor, 15%);
						color:lighten($darkColor, 15%);
						padding: ($padding * .1) ($padding * .35);
						border: none;
						font-weight: bold;
						cursor: pointer;
						transition: all .3s ease-in-out;
							&:hover{
								background: $accentColor;
								color:$darkColor;
							}//hover
					}//submit

			}//form
		}//comments

}//#sectionMain
.info.single + #sectionMain{
	background: rgba($darkColor,.6);
	padding:$padding;
	margin:0 0 ($margin * 9) 0;
	article{
		border-bottom: 1px solid rgba($lightColor,.5);
	}
}

aside{
	margin:0 0 ($margin * 5) 0;
		h2{
			background:$subTitleColor;
			color: $lightColor;
			padding:($padding * .5) $padding;
			font-size: .9rem;
		}//h2
		ul{
			margin: $margin $margin ($margin * 2) $margin;
			font-size:.66rem;
			padding:0;
		}//ul
		li{
			margin: 0 0 ($margin * .5) 0;
			padding:($padding * .5) 0;
			border-bottom: 1px solid rgba($darkColor, .25);
			overflow: auto;
			span{
				margin: 0 0 ($margin * .5) 0;
					a{
						font-weight: bold;
						color: darken($lightColor, 10%);
					}//a
			}//span
			em{
				margin: 0;
				display:block;
				font-weight: normal;
				font-style: normal;
			}//em
		}//li
}//aside

.pagination{
	margin:0 0 ($margin * 5) 0;
}//pagination
.pagination-box{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
	align-items: stretch;
	background: rgba($darkColor, .6);
	color: darken($lightColor, 30%);
	padding: 0;
	margin: 0;
	font-size: .75rem;
}//pagination
.pagination a,
.pagination span{
	color:darken($lightColor, 30%);
	font-weight: bold;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: $padding;
	border-left: 1px solid lighten($darkColor, 45%);
		.over{
			margin:0;
		}//over
		&:hover{
			color: $lightColor;
		}//hover
		&:last-of-type{
			border-right: 1px solid lighten($darkColor,45%);
			position: relative;
			left: 1px;
		}//last
		&.current{
			background: rgba($lightColor, .1);
			color:$lightColor;
		}//current
}//a span
.pagination.single{
	//background: rgba($darkColor, .5);
	color: darken($lightColor, 30%);
	padding: 0;
	margin: 0 0 ($margin * 5.4) 0;
	width:100%;
	//font-size: .75rem;
		h2{
			display: none;
		}//h2
		a{
			border-left: none;
			border-right: none;
			display: block;
			padding: 0 ($padding * .25);
			margin: 1.8rem 0;
			color:$darkColor;
			&:hover,&:focus,&active{
				color: $darkColor;
			}
			&.nav-home{
				display: block;
				width:calc(100% - 4.5rem);
				margin:0 auto;
				padding:0;
				line-height: 2.25rem;
				background: rgba($darkColor, .65);
				border: 1px solid;
				border-image: $navPrevious;
				border-image-slice: 1;
				color:$lightColor;
				font-weight:normal;
				text-decoration: none;
			}
		}//a
		div span{
			display: inline-block;
			border-left: none;
			border-right: none;
			padding: ($padding * .25);
			font-weight: normal;
		}//div span
		.nav-previous{
			font-size:85%;
			background: $navPrevious;
			margin:0 ($margin * 2.25);
			position:relative;
			padding: 0;
			line-height: 1.8rem;
			&:hover,&focus,&active{
				background:$navPrevious;
				&:before{
					border-right-color: rgb(69,141,165);
				}
			}
			&:before{
				content:'';
				display: block;
				position: absolute;
				left:calc(-2.9rem + 1px);
				top:0;
				margin: 0;
				padding: 0;
				width:0;
				height:0;
				border-right:1.45rem solid rgb(69,141,165);
				border-bottom:1.1rem solid transparent;
				border-left:1.45rem solid transparent;
				border-top:1.1rem solid transparent;
			}
		}//nav-previous
		.nav-next{
			font-size:85%;
			background: $navNext;
			margin:0 ($margin * 2.25);
			position:relative;
			padding: 0;
			line-height: 1.8rem;
			&:hover,&focus,&active{
				background:$navNext;
				&:before{
				border-left:1.45rem solid rgb(69,141,165);
				}
			}
			&:before{
				content:'';
				display: block;
				position: absolute;
				right:calc(-2.9rem + 1px);
				top:0;
				width:0;
				height:0;
				margin: 0;
				padding: 0;
				border-left:1.45rem solid rgb(69,141,165);
				border-bottom:1.1rem solid transparent;
				border-right:1.45rem solid transparent;
				border-top:1.1rem solid transparent;
			}
		}//nav-next
		.nav-previous a{
			text-align: left;
			color: $darkColor;
			span{
				color: $darkColor;
			}
		}//nav-previous
		.nav-next a{
			text-align: right;
			color: $darkColor;
			span{
				color: $darkColor;
			}
		}//nav-next
}//single

#toTop{
	position: fixed;
	left: $padding;
	bottom: ($padding * 3.6);
	display: block;
	height: 2.7rem;
	width:2.7rem;
	text-indent: -9999px;
	background: $titleColor;
	opacity: .8;
		&:after{
		content: '';
		border-bottom: .7rem solid $darkColor;
		border-left: .45rem solid transparent;
		border-top: .7rem solid transparent;
		border-right: .45rem solid transparent;
		display: block;
		width: 0;
		height: 0;
		top:($padding * .25);
		left:($padding * .9);
		position: absolute;
	}//after
	&:hover{
		opacity: 1;
	}//hover
}//toTop

#menuBottom{
	text-align: center;
		span{
			font-weight:bold;
			position: fixed;
			right:$padding;
			bottom:($padding * 3.6);
			padding:0;
			display:block;
			width: 2.7rem;
			line-height: 2.7rem;
			height: 2.7rem;
			opacity:.8;
			background: $titleColor;
			color:$darkColor;
			font-size: .9rem;
			//border-radius: 50%;
			cursor:pointer;
		}//span
		div{
			display:none;
		}
		a{
			font-size: .75rem;
			font-weight: bold;
			transform: scaleX(.8);
			text-decoration: none;
			position:fixed;
			display:block;
			box-sizing: border-box;
			line-height:2.7rem;
			width:3.5rem;
			height:2.7rem;
			color:$darkColor;
			background: rgba($accentColor, .7);
			box-shadow: 0 2px 2px rgba($darkColor,.4);
				&.btnFooterAbout{
					right:$padding - .4;
					bottom:2.7 + ($padding * 3.6) +.45;
				}//btnFooterAbout
				&.btnFooterPortfolio{
					right:2.7 + $padding +.2;
					bottom:2.7 + ($padding * 3.6) + .45;
				}//btnFooterPortfolio
				&.btnFooterMain{
					right:2.7 + $padding +.2;
					bottom:($padding * 3.6);
				}//btnFooterMain
				&.btnFooterHome{
					line-height: 2.3rem;
					right:2.7 + $padding +.2;
					bottom:($padding * 3.6);
					border-radius: .35rem;
					border:3px solid  darken($lightColor,25%);
				}//btnFooterMain
		}//a
}//menuBottom

#menuBottom.home{
	display: block;
}
.pagination.single + #toTop + #menuBottom.home{
	display:none;
}
#menuBottom.single{
	display: none;
}
.pagination.single + #toTop + #menuBottom.home + #menuBottom.single{
	display:block;
}

footer{
	clear:both;
	padding: 0 0 14rem 0;
	font-size: .75rem;
	margin: ($margin * .5) 0 0 0;
	div{
		display:none;
	}//div
		a{
			color:darken($accentColor, 15%);
				&:hover{
					color:$accentColor;
					text-shadow:0 .05rem .15rem rgba($darkColor, .9);
				}//hover
		}//a
		h2{
			background: $borderColor;
			color: $darkColor;
			cursor: pointer;
			&:after{
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				border-top: .45rem solid $darkColor;
				border-left: .45rem solid transparent;
				border-bottom: .45rem transparent;
				border-right: .45rem solid transparent;
				margin: 0 0 0 $margin;
				position: relative;
				top:-.25rem;
				transition: all .3s ease-in-out;
				cursor: pointer;
			}//after
			&:hover:after{
				top:.05rem;
			}//hover after
		}//h2
		form{
			width:calc(100% - $padding);
			padding:$padding;
			margin:0 auto 0 auto;
			display: block;
			font-size:90%;
			background: rgba($darkColor,.6);
				label{
						width:100%;
						margin:0 0 $margin 0;
						display: block;
						vertical-align: middle;
						position: relative;
						border-radius: 0;
						em{
							width:auto;
							display: block;
							margin: 0 0 ($margin * .25) 0;
							font-style: normal;
						}//em
						span{
							margin:0 0 ($margin * 1.8) 0;;
							display: block;
						}//span
						input,textarea{
							-webkit-appearance: none;
					    -moz-appearance: none;
					    appearance: none;
							width:calc(100% - .9rem);
							border:none;
							border-radius: 0;
							background: rgba(lighten($darkColor,15%), .55);
							border-bottom: 1px solid lighten($darkColor, 30%);
							line-height: 1.8;
							color:$lightColor;
							padding:.25rem .45rem;
								&:hover,
								&:focus,
								&:active{
								background: rgba(lighten($darkColor,3%), .85);
								}//hover focus
						}//input
						textarea{
							height: 8em;
						}//textarea

						&.checked span{
							width:auto;
							display: inline-block;
							font-weight: bold;
							margin:-($margin * .9) 0 0 0;
						}//span
						&.checked input[type="checkbox"]{
							padding: 0;
							width:1.8rem;
							height: .9rem;
							background: $darkColor;
							border-radius: .45rem;
							display: inline-block ;
							position: relative;
							&:after{
								content:'';
								display:inline-block;
								width:.9rem;
								height:.9rem;
								border-radius: .45rem;
								background: $lightColor;
								position: relative;
								left:0;
								border: 1px solid $darkColor;
								transition:all .35s ease-in-out;
							}
						}//input
						&.checked input[type="checkbox"]:checked{
							background: $accentColor;
							&:after{
								left:.9rem;
								border: 1px solid $accentColor;
							}
						}
				}//label
				input.btnSubmit{
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					width:100%;
					display: block;
					font-size: .9rem;
					background:rgba($accentColor,.85);
					color:lighten($darkColor, 15%);
					padding: ($padding * .1) ($padding * .35);
					border: none;
					border-radius: 0;
					font-weight: bold;
					cursor: pointer;
					line-height: 2.7;
					transition: all .3s ease-in-out;
						&:hover,
						&:focus,
						&:active{
							border-radius: 0;
							background: $accentColor;
							color:$darkColor;
						}//hover
				}//submit
				> div{
					display: block;
					//display: none;
				}//div
		}//form
		address{
			position: fixed;
			bottom:0;
			left:0;
			right:0;
			text-align: right;
			margin:0;
			padding: ($padding * .5) ($padding * 2) 0 0;
			height:1.8rem;
			font-size: .9rem;
			background: rgba($darkColor, .6);
			color:darken($lightColor, 30%);
			font-style: normal;
				a{
					margin:0 0 0 $margin;
				}//a
		}//address
}//footer
.pagination.single + #toTop + #menuBottom + #menuBottom + footer{
	padding:0 0 4.5rem 0;
}
.pagination.single + #toTop + #menuBottom + #menuBottom + footer > h2,
.pagination.single + #toTop + #menuBottom + #menuBottom + footer > form{
	display: none;
}

//end fadeBoxMobile





/* -------------------- pc --------------------- */
@media screen and (min-width:800px){

html{
	height:100%;
}//html

body{
	font-size:77.5%;
	padding:0 2% 0 28%;
	background-size: 25%!important;
	font-family: -apple-system, BlinkMacSystemFont,BlinkMacSystemFont,"Yu Gothic", "游ゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Grande","Lucida Sans",sans-serif;
}//body

body > header{
	margin:0 -2.5% 100vh -4.3%;
	padding:25vh 0 0 4.3%;
	&:before{
		top:60vh;
		left:calc(50vw - 1.15rem + 14%);
		animation-name:upsidedownPc;
		animation-delay: .5s;
		animation-duration:.75s;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	&.single{
		margin:0 -2.5% ($margin * 1.75) -4.3%;
		padding:4vh 0 0 4.3%;
	}
		h2{
			margin:0 auto 10vh auto;
			padding:25vh $padding 0 $padding;
			width:90%;
			font-size:115%;
		}//h2
		div {
			display:-webkit-flex;
			display:flex;
			-webkit-justify-content:center;
			justify-content:center;
			-webkit-align-items:center;
			align-items: center;
			height:15vh;
				a{
					margin:0 ($margin * 2) 0 0;
				}//a
					&:last-of-type{
						margin:0;
					}//a last
		}//div
}//header
@keyframes upsidedownPc{
	0%{
		top:59vh;
	}
	100%{
		top:60.5vh;
	}
}

h1{
	font-size:115%;
	margin:0 auto 30vh auto;
}//h1

h2{
	font-size:165%;
	transition:all .3s ease-in-out;
}//h2
body > header h2{
	width:60%;
}
h4{
	margin:0 0 ($margin * 3) 0;
	font-weight: normal;
}//h4

#sectionPortfolio div.box{
	justify-content: space-around;
		dl{
				flex-basis: 28%;
				min-width: auto;
		}//dl
}// portfolio box

#sectionMain{
	transform: none;
	> ul{
		li{
		flex-basis: 30%;
				}//li
		}//ul

		article > img{
			max-height: 20em;
			max-width: 50vw;
			width:auto;
			margin:$margin $margin $margin 0;
		}//img
}//sectionMain

aside{
		ul{
			font-size:90%;
		}//ul
		li span{
			display:block;
			width:20vw;
			float:left;
		}//aside span
		li em{
			margin:0 0 0 21vw;
		}//aside em
}//aside

.pagination-box{
	margin:($margin * 6) 0;
	font-size:90%;
}//pagination

#menuBottom{
	display: none;;
}//menuBottom

footer{
	padding: 0 0 ($padding * 6.5) 0;
}

} /*----- end pc ------ */


/* -------------------- pc --------------------- */
@media screen and (min-width:960px) and (max-width:1024px){
	@import url('https://fonts.googleapis.com/css?family=Bitter|Sawarabi+Mincho');

	body{
		font-family: 'Sawarabi Mincho', sans-serif;
		font-family: 'Bitter', serif;
		color: $darkColorM;
		padding:0 2% 0 2%;
		background-image: none!important;
		//overflow-x: hidden;
			&:before{
				display: block;
				display: none;
			}//before
	}

body > header{
	//background:$headerBgM;
	height: calc(100vh - 3.73rem);
	background-image: $headerBgM,url('/wp-content/uploads/2.jpeg');
	background-size: cover;
	background-position: center;
	margin:0 -2.1% ($margin * 7.2) -2.1%;
	padding:0 0 3vh 0;
	position: relative;
	overflow:hidden;
	border-bottom: 5px solid $subColorM;
	&:before{
		content:'';
		display: block;
		background: rgba($lightColorM, .5);
		width:19%;
		height:250%;
		transform: rotate(30deg);
		position: absolute;
		top:-50%;
		left:-6%;
		animation:none;
	}
	&:after{
		display:block;
		content:'';
		width:12%;
		height:250%;
		background:rgba($lightColorM,.5);
		position: absolute;
		right:-15%;
		bottom:-40%;
		transform: rotate(30deg);
		overflow: hidden;
	}
	h1{
		width:auto;
		height:auto;
		border-radius:0;
		background: none;
		border:none;
		text-align: left;
		margin:25vh 0 0 0;
		padding: ($padding * 5) ($padding * 3) ($padding * 4) ($padding * 3);
		box-shadow: none;
		letter-spacing: -.1em;
		font-size: 6.3rem;
		z-index: 3;
		transform: none;
		span{
			text-indent: 0;
			display:none;
		}
		a{
			//color:$lightColorM;
			line-height: .9;
			text-indent: 0;
			width:auto;
			margin:0;
			padding: 0;
			display:block;
			background: $menuColorM;
			color:$lightColorM;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			position: relative;
			top:0;
			left:0;
		}
		&:before{
			position: absolute;
			top:2.1em;
			left:5.2em;
			text-align: left;
			width: auto;
			font-size:.45em;
			line-height: 1.8;
			background: $titleColorM;
			color:$lightColorM;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&:after{
			color: transparent;
			top:.35em;
			left:.43em;
			//text-shadow: 0 2px 5px rgba($darkColorM,.2);
			font-size:1em;
			border-radius: 0;
			height: auto;
			width: auto;
			border: none;
			background: none;
			box-shadow: none;
		}
	}
	h2{
		transform:none;
		margin: 0 0 0 2.25rem;
		padding:($padding * 2);
		border:none;
		font-weight: bold;
		position: relative;
		top:-1.8rem;
		line-height: 2.1;
		z-index: 3;
		color: $lightColorM;
		text-shadow: 0 .05em .5em rgba($darkColorM, .3);
	}
	div{
		transform:none;
		width:70%;
		margin:0 0 0 0;
		padding: 0 15% 0 15%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: space-between;
		align-content: stretch;
		position: absolute;
		top:0;
		background: $subTitleColorM;
		border-bottom:1px solid $accentColorM;
		a{
			display: inline-block;
			text-align: center;
			flex-basis: 35%;
			font-weight: bold;
			background: none;
			border: none;
			color: $accentColorM;
			position:relative;
			line-height: 1.45;
			margin: 0;
			padding:0;
			&:hover,&:focus{
				color:darken($accentColorM,5%);
				text-shadow: 0 .1em .3em rgba($lightColorM, .7);
			}
		}
	}
}
body>header.single{
	height:30vh;
	background-position: center 10%;
	border-bottom: 1px solid $mainColorM;
	&:before{
		content:'';
		display: block;
		background: rgba($lightColorM, .5);
		width:25%;
		height:250%;
		border: none;
		transform: rotate(30deg);
		position: absolute;
		top:-50%;
		left:-7%;
		animation:none;
		background:rgba($lightColorM,.6);
	}
	&:after{
		top:-50%;
		right:75%;
		width:2%;
		background:rgba($lightColorM,.6);
	}
	h1{
	padding: 0;
	margin: 2.5% 0 0 -28%;
	&:before{
		left:1%;
	}
	}
}

h2{
	line-height: 2.7;
	background: $accentColorM;
	color:$lightColorM;
	margin:0 0 $margin 0;
	padding: 0 0 0 .9em;
	border-bottom: 5px solid $subColorM;
}

.change.easeBox{
	overflow: visible;
	transform:none;
}
.change.easeBox > h2{
	margin: 0 0 $margin 0;
}

#sectionAbout,#sectionPortfolio{
	display: flex;
	flex-direction: column;
	margin:0 0 ($margin * 5.4) 0;
	padding: 0;
	h2{
		box-shadow: -.4rem -.4rem 0 $lightColorM;
		&:after{
		display: none;
		}
	}
	> div.hidden{
		top:0;
		display:block!important;
		margin: 0;
		article{
		min-height: 10rem;
			margin: 0 0 $margin 0;
			padding: 0;
			position: relative;
			border-left: 2.7rem solid $mainColorM;
			border-top: 5px solid $mainColorM;
			//overflow-y: hidden;
		}
		h3{
			background: none;
			transform: rotate(90deg);
			position: relative;
			top:27rem;
			left:-52.5%;
			color: $lightColorM;
			margin: 0;
			padding: 0;
			z-index: 2;
			//transform: rotate(90deg);
			//width:auto;
			+ p{
				margin:-2.7em 0 0 0;
			}
			&:after{
				top:0rem;
				left:.45rem;
				border-bottom:.35rem solid transparent;
				border-left:.35rem solid $lightColorM;
				border-right:.35rem solid transparent;
				border-top:.35rem solid transparent;
			}
		}
		h4{
			margin: -2.7em 0 $margin 0;
		}
	}
	.close{
		display: none;
	}
}
#sectionPortfolio .box.flex{
	padding:0 $padding;
	margin: 0 0 0 0;
	display:block!important;
	dl{
		margin: 0 0 $margin 0;
		clear:both;
		overflow: auto;
		background: $lightColorM;
		padding:$padding;
		border: 2px solid;
		border-image: $subTitleColorM;
		border-image-slice:1;
		position: relative;
		z-index: -1;
		dt{
			background:none;
			border-bottom: 2px solid $subColorM;
			margin: 0 0 $margin 0;
			padding:0 0 ($padding *.35) 0;
			font-size:.9rem;
		}
		dd{
			width:30%;
			float: left;
			border: none;
			text-align: left;
			&.toolPortfolio,
			&.techPortfolio,
			&.urlPortfolio{
				margin: 0 5% 0 35%;
				padding: $padding 0 $padding 0;
				color:$darkColorM;
				width:auto;
				float: none;
				border-bottom: 1px solid $darkColorM
			}
			&.urlPortfolio a{
				color: $darkColorM;
			}
			&:last-of-type{
				border: none;
			}
			img{
				height:auto;
				min-height: 100%;
				margin:($margin * .5);
			}
		}
	}
}

#sectionMain{
	h2{
		margin: 0;
		position: static;
	}
	>ul{
		display:flex;
		flex-wrap: wrap;
		background: $mainColorM;
		padding: ($padding * .45) ($padding * 1.25) ($padding * 1) ($padding *1.25);
		li{
			border-bottom: 1px solid;
			border-image: $subTitleColorM;
			border-image-slice:1;
			flex-basis: 20%;
			margin:0 $margin 0 0;
			&:first-of-type{
				border-bottom: none;
			}
			a{
				border:none;
			}
			&:before{
				display: none;
				border-bottom: 1px solid;
				border-image: $subTitleColorM;
				border-image-slice: 1;
			}
			&.title{
				color:$lightColorM;
			}
		}
	}
	> article{
		border: 1px solid $lightColorM;
		padding: 0;
		border:1px solid;
		border-image: $subTitleColorM;
		border-image-slice: 1;
		background: $lightColorM;
		header{
			color: $darkColorM;
			background: none;
			border-bottom: 1px solid $subColorM;
			padding: 0 ($padding * .2) $padding ($padding * .2);
			margin:0 $margin $margin $margin;
			a{
				color: $accentColorM;
				&:hover{
					color:lighten($accentColorM, 15%);
				}
			}
			h2{
				background: none;
				margin:0;
				border-bottom: none;
				a{
					color: $accentColorM;
					border-bottom: none;
					font-size:1.5rem;
					&:before{
						display:none;
					}
				}
			}
			em{
				margin:0;
			}
		}
		>div {
			margin: 0 $margin $margin $margin;
		}
	}
}

.info.single + #sectionMain{
	background: $lightColor;
	padding: 0;
	article{
		padding: 0;
		border:1px solid;
		border-image: $subTitleColorM;
		border-image-slice: 1;
		background: $lightColorM;
		header{
			background: $accentColorM;
			margin:0 0 ($margin * 2) $margin;
			padding: 0 ($padding * 3) $padding $padding;
			border-bottom: 5px solid $subColorM;
			color: $lightColorM;
			a{
				color:$lightColorM;
			}
		}
	}
	#comments{
		border:1px solid;
		border-image: $subTitleColorM;
		border-image-slice: 1;
		padding: ($padding * 2);
	}
}

aside{
	h2{
		background: $subTitleColorM;
		color:$accentColorM;
	}
	ul{
		li{
			a{
				color:$darkColorM;
			}
		}
	}
}

.pagination{
	.pagination-box{
		background: rgba($mainColorM, .9);
		width:70%;
		margin: 0 auto;
	}
}

#toTop{
	background: $titleColorM;
	left:1.25rem;
	z-index: 3;
}
#menuBottom.home{
	display:none;
}

footer{
	a{
		color:$subColorM;
	}
	h2{
		background: $accentColorM;
		color: $lightColorM;
		&:after{
			border-top-color: $lightColorM;
		}
	}
	form{
		background: $lightColorM;
		label{
			input,textarea{
				background: darken($lightColorM, 5%);
				color: $darkColorM;
				border-bottom: 1px solid;
				border-image: $subTitleColorM;
				border-image-slice: 1;
				&:hover,
				&:focus,
				&:active{
					background: darken($lightColorM, 10%);
				}
			}
			&.checked input[type="checkbox"]{
				background: darken($lightColorM,15%);
				border: 1px solid $mainColorM;
				&:after{
					background: $subColorM;
					border: 1px solid $mainColorM;
					top:-2px;
				}
			}&.checked input[type="checkbox"]:checked{
				background: $mainColorM;
				&:after{
					border: 1px solid $accentColorM;
				}
			}
		}
		input.btnSubmit{
				box-shadow: 0 3px 5px rgba($darkColorM, .2);
				color:lighten($mainColorM, 20%);
				background: $titleColorM;
				&:focus,
				&:hover,
				&:active{
						box-shadow: 0 3px 5px rgba($darkColorM, .4);
					background: $titleColorM;
					color:$mainColorM
				}
		}
	}
}



}//end middl
